.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__v26Lz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-HYHtMC8g7n04);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__v26Lz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__v26Lz > :global(.__wab_flex-container) > *,
.freeBox__v26Lz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v26Lz > :global(.__wab_flex-container) > picture > img,
.freeBox__v26Lz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__v26Lz {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox__v26Lz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__v26Lz > :global(.__wab_flex-container) > *,
  .freeBox__v26Lz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v26Lz > :global(.__wab_flex-container) > picture > img,
  .freeBox__v26Lz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
}
.freeBox__d70JN {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  align-self: center;
}
.freeBox__d70JN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__d70JN > :global(.__wab_flex-container) > *,
.freeBox__d70JN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d70JN > :global(.__wab_flex-container) > picture > img,
.freeBox__d70JN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox__d70JN {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__hfh13:global(.__wab_instance) {
  position: relative;
}
.svg__utsvX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__oksk8 {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__wt2Fo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__pZbyO:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__pZbyO:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__ri6Yg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__fSeu {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__w3UUq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___7MfHs:global(.__wab_instance) {
  position: relative;
}
.svg__wnYgj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dgbha {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__a3KEm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__rASl {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rASl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 930px) {
  .freeBox__rASl {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__rASl > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__rASl > :global(.__wab_flex-container) > *,
  .freeBox__rASl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rASl > :global(.__wab_flex-container) > picture > img,
  .freeBox__rASl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button___0Z5PE:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button___0Z5PE:global(.__wab_instance) {
    display: none;
  }
}
.svg__zBjnW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bnJJu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__qClrU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qrJgo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__auK1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
